<html>

<head>
    <title>Dockerizing a python web application</title>
</head>

<body>
    <h4>simple Web APP Using Python Flask Framework</h4>
    <div class="row">
        <div class="col-3">
            <strong>
                AMMAR:
            </strong>
        </div>
        <div class="col-5">
            <strong> FROM YEMEN</strong>
        </div>
        <div class="col-4">
            <strong> CHINA</strong>
        </div>
    </div>
    <div class="row">
        <h4> Reponse from host {{ HostName }} with IP Address {{ IPaddress }}</h4>
    </div>
    
</body>

</html>