<html>

<head>
    <title>Dockerizing a python web application</title>
</head>

<body>
    <h4>OdOO API WEB SERVICE ..</h4>
    <div class="row">
        <div class="col-3">
            <strong>
                {{_url}}:
            </strong>
        </div>
        <div class="col-5">
            <strong> Start ..</strong>
        </div>
        <div class="col-4">
            <strong> End ..</strong>
        </div>
    </div>
    <div class="row">
        <h4> {{ Name }}</h4>
    </div>
    
</body>

</html>